/**
 * patches for Elementor / OceanWP-child for daskannstdutun.de
 */

/* stylelint-disable property-no-unknown value-no-unknown-custom-properties */

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* elementor global custom css                                     */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

/* prevent image ratio distorion on mobile home page */
@media (max-width: 767px) {
    .home .elementor-2 .elementor-element img {
        height: auto; /* prevent ration distortion */
    }
}

/* fix full-width style for elementor Container elements:
 * this fix reverts the width and postitioning pixel inline styles,
 * (for constrained containers, set width to "boxed" in elementor properties)
 * - assuming body { overflow-x: hidden; } for the 101vw workaround,
 * - don't apply to first child of page wrapper, assuming that is a hero header or similar,
 * - don't apply to any nested descendants,
 * - allow optional section wrapper using in the preview UI.
 * var(--container-max-width) would be our element's width when not fully stretched
 */
div.entry div[data-elementor-type="wp-page"] > .e-con-full:not(:first-child),
div.entry div[data-elementor-type="wp-page"] > .elementor-section-wrap:not(:first-child) > .e-con-full {
    max-width: unset;
    width: 100vw;
    margin-left:   calc((100% - 100vw) / 2);
    padding-left:  calc((100vw - var(--container-max-width)) / 2);
    padding-right: calc((100vw - var(--container-max-width)) / 2);
}
/* additional fix to prevent slim columns on mobile */
@media (max-width: 767px) {
    .owl-item .e-con[data-elementor-type="container"] {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}

/* fix form fields checkbox truncation using multiple fallback values */
.elementor-form input[type=checkbox] {
    display: block;
    float: left;
    margin: 1px 10px 0 0;
    width: 20px;
    height: 20px;
    border-radius: 5px;
}
.elementor-form input[type=checkbox]::before {
    margin-top: 3px;
    margin-left: 1px;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* page or element specific styles                                 */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

/* Home page: buttons below "Kommt dir das bekannt vor?            */
selector .elementor-button-link {
    padding-left: 60px;
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: 5% 55%;
    background-size: 25px 25px;
    /* Kreis: */
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 178.9 166.3'%3E%3Ccircle cx='89' cy='83' r='80' stroke='currentColor' stroke-width='18' fill='none' fill-rule='nonzero' fill-opacity='0'  %3E%3C/circle%3E%3C/svg%3E");
}
selector .elementor-button-link:hover {
    /* Kreuz: */
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 178.9 166.3' style='enable-background:new 0 0 178.9 166.3%3B' xml:space='preserve'%3E%3Cg%3E%3Cpolygon fill='white' points='178.9 139.5 172.6 166.3 10.3 19.6 47.1 7.6 '%3E%3C/polygon%3E%3Cpolygon fill='white' points='19.8 144.5 0 131.9 131.9 0 164.4 17.7 '%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E"),
    /* Kreis: */
    url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 178.9 166.3'%3E%3Ccircle cx='89' cy='83' r='80' stroke='white' stroke-width='18' fill='none' fill-rule='nonzero' fill-opacity='0'  %3E%3C/circle%3E%3C/svg%3E");
}

/* Psychology page: flex container around the seven boxes          */
/*  improve readability by increasing box width on tablet          */
@media (max-width: 1079px) {
    .e-con-inner > .elementor-element {
        flex-basis: 42%;
    }
}

/* Psychology page, Jetzt starten page */
/* section below hero section */
selector {
    z-index: -1; /* prevent border overlapping head image */
}

/* Jetzt starten page */
/* Umschalter elements (.elementor-toggle-icon-right) */
selector .elementor-toggle-icon {
    font-size: 200%;
    margin-top: 10px;
}

/* Jetzt starten page */
/* each @media (max-width: 1024px) .elementor-widget-container
 * reset margin-top: 30px to margin-top: 0 using elementor UI
 */

/* page header title image custom CSS defined in Elementor UI */
/* allow mobile menu burger icon to appear next to the title to save screen height */
@media (max-width: 767px) {
    selector {
        margin-bottom: calc(-20px - 10%);
    }
}

/* page header section custom CSS defined in Elementor UI */
/* allow mobile menu burger icon to appear next to the title to save screen height */
@media (max-width: 420px) {
    selector .elementor-container {
        min-height: 45px; /* reset unhelpful mobile min height */
    }
}