/* elementor global custom css */

/* prevent image ratio distorion on mobile home page */
@media (max-width: 767px) {
    .home .elementor-2 .elementor-element img {
        height: auto; /* prevent ration distortion */
    }
}


/* Psychology page: flex container around the seven boxes  */
/*  improve readability by increasing box width on tablet */
@media (max-width: 1079px) {
    .e-con-inner > .elementor-element {
        flex-basis: 42%;
    }
}

/* Psychology page, Jetzt starten page */
/* section below hero section */
selector {
    z-index: -1; /* prevent border overlapping head image */
}

/* Jetzt starten page */
/* Umschalter elements (.elementor-toggle-icon-right) */
selector .elementor-toggle-icon {
    font-size: 200%;
    margin-top: 10px;
}